<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/capsules.css">
</head>
<body>
    <h1>capsules</h1>
    <a href="/">powrót</a>
    <% if (capsules.length > 0) { %>

        <% for (let capsule of capsules) { %>
            <div class="wrapper">
                <h1><%= capsule.type %></h1>

                <p><%= capsule.serial %></p>
                <p><%= capsule.id %></p>
                <p><%= capsule.last_update %></p>

            </div>
        <% } %>
 

    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
    
</body>
</html>