<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
      

    <h1>Roadster</h1>
    <a href="/">powrót</a>
    <% if (roadster.length > 0) { %>
        <% for (let road of roadster) { %>
            <div class="wrapper">

             <h1><%= road.longitude %></h1>
    
             <h1><%= road.earthDistanceKm %></h1>
            </div>

        <% } %>


<% } else { %>
    <h1>No Products Found!</h1>
<% } %>

</body>
</html>